/* Cores e fontes usadas */

:root {
    --cor-primaria: #25995C;
    --cor-branca: #ffffff;
    --cor-back-secundario: #f5f5f5;
    --cor-fonte-title: #4b4b4b;
    --cor-fonte-text: #646464;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-branca);
    max-width: 100%;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}


/* Nav !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

nav {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    z-index: -1;
}

.nav_left>img{
    height: 60px;
}

.nav_rigth_icones ul{
    display: flex;
    text-align: center;
    align-items: center;
    gap:10px;
}

.nav_rigth_icones ul li{
    font-size: 1.2em;
    margin: 10px;
    color: var(--cor-branca);    
}
nav a{
    color:var(--cor-branca);
}
nav a:hover {
    color: #ccc;
}

/* Menu !!!!!!!!!!!!!!!!!!!!!!! */

.container_menu{
    background-image: url(../img/img-fundo-smartgrow.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.titulo_menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.titulo_menu h1{
    font-weight: 400;
    font-size: 4.2em;
    line-height: 97px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--cor-branca);
    text-align: center;
    margin: 80px 20px;
}

/* Seção  01 */

.container01{
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 40px;
}

.container01 h1{
    font-size: 2.5em;
    color: var(--cor-primaria);
}

.container01 p{
    color: var(--cor-fonte-text);
    font-size: 1.4em;
    margin: 10px 200px;
}
.container01 div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}
.container01 div ul li{
    padding: 20px;
}
.container01 div i{
    color: var(--cor-primaria);
    font-size: 2.5em;
}
.container01 div h3{
    font-size: 2em;
    color:var(--cor-primaria);
}
.container01 div p{
    color: var(--cor-fonte-text);
    font-size: 1.4em;
    margin: 10px 20px;
    padding: 20px;

}

/* Seção 02 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.container02{
    background-color: var(--cor-primaria);
    padding: 50px;
   
}
.container02 h1{
    font-size: 2.5em;
    color: var(--cor-branca);
    text-align: center;
    padding: 20px;
}

.container02 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container02 div p{
    color: var(--cor-branca);
    font-size: 1.4em;
    margin: 10px 50px;
}
.container02 div video{
    margin: 0px 50px;
}
/* Seão 03 !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.container03{
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 40px;
}

.container03 h1{
    font-size: 2.5em;
    color: var(--cor-primaria);
    text-align: center;
    padding: 40px;
}
.container03 p{
    color: var(--cor-fonte-text);
    font-size: 1.4em;
    margin: 10px 20px;
    padding: 20px;
}
/* Seção 04 !!!!!!!!!!!!!!!!!!!!!!!! */
.container04{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 40px;
}

.container04 h1{
    font-size: 2.5em;
    color: var(--cor-branca);
    text-align: center;
    padding: 40px;
}
.container04 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 5px 200px;
}
.container04 ul li{
    background-color: var(--cor-branca);
    padding: 40px;
}

.container04 ul li p{
    color: var(--cor-fonte-text);
    font-size: 1.5em;
}
/* Seção 05 !!!!!!!!!!!!!!!!!!!!! */
.container05{
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:10px;
    padding: 40px;
}
.container05{
    color: var(--cor-fonte-text);
}
/* Seção 06 !!!!!!!!!!!!!!!!!!!!!!! */
.container06{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 60px;
}

.colorful-form {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--cor-back-secundario);
  border-radius: 10px;
}
.colorful-form h1{
    color: var(--cor-fonte-title);
    padding: 30px;
    text-align: center;
}
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--cor-fonte-title);
}

.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--cor-branca);
  color: var(--cor-fonte-text);
  border-radius: 5px;
}

textarea.form-input {
  height: 100px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: var(--cor-branca);
  color: var(--cor-primaria);
  border: 2px solid var(--cor-primaria);
}

/* Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

footer {
    background-color: black;
    padding: 20px;
    color: var(--cor-branca);
}

.footer-section img {
    width: 220px;
    height: 170px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    color: var(--cor-fonte-text);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: var(--cor-fonte-text);
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: var(--cor-fonte-text);
}