@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Cores e fontes usadas */

:root {
    --cor-primaria: #25995C;
    --cor-branca: #ffffff;
    --cor-back-secundario: #f5f5f5;
    --cor-fonte-title: #4b4b4b;
    --cor-fonte-text: #646464;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-branca);
    max-width: 100%;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}


/* Nav !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#btn-mobile {
    display: none;
}
#nav {
    display: none;
}
nav {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}

.nav_left>img {
    height: 60px;
}

.nav_rigth_icones ul {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.nav_rigth_icones ul li {
    font-size: 1.2em;
    margin: 10px;
    color: var(--cor-branca);
}

nav a, label {
    color: var(--cor-branca);
}

nav a:hover {
    color: #ccc;
}

/* Menu !!!!!!!!!!!!!!!!!!!!!!! */

.container_menu {
    background-image: url(../img/img-fundo-smartgrow.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.titulo_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.titulo_menu h1 {
    font-weight: 400;
    font-size: 4.2em;
    line-height: 97px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--cor-branca);
    text-align: center;
    margin: 80px 20px;
}

/* Seção  01 */

.container01 {
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 40px;
}

.container01 h1 {
    font-size: 2.5em;
    color: var(--cor-primaria);
}

.container01 p {
    color: var(--cor-fonte-text);
    font-size: 1.4em;
    margin: 10px 100px;
}

.container01 div{
    display: flex;
    justify-content: space-between;
}
.container01 div ul {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.container01 div ul li {
    padding: 5% 0px;
}

.container01 div i {
    color: var(--cor-primaria);
    font-size: 2.5em;
}

.container01 div h3 {
    font-size: 2em;
    color: var(--cor-primaria);
    font-family: Roboto;
}

.container01 div p {
    color: var(--cor-fonte-text);
    font-size: 1.4em;
    margin: 5px 30px;
}

/* Seção 02 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.container02 {
    background-color: var(--cor-primaria);
    padding: 50px;

}

.container02 h1 {
    font-size: 2.5em;
    color: var(--cor-branca);
    text-align: center;
    padding: 20px;
}

.container02 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container02 div p {
    color: var(--cor-branca);
    font-size: 1.1em;
    margin: 10px 30px;
}

.container02 div video {
    width:50%;
    height: 300px;
    margin: 0px 50px;
}

/* Seão 03 !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.container03 {
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 40px;
}

.container03 h1 {
    font-size: 2.5em;
    color: var(--cor-primaria);
    text-align: center;
    padding: 40px;
}

.container03 p {
    color: var(--cor-fonte-text);
    font-size: 1.4em;
    margin: 10px 20px;
    padding: 20px;
}

/* Seção 04 !!!!!!!!!!!!!!!!!!!!!!!! */
.container04 {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 40px;
}

.container04 h1 {
    font-size: 2.5em;
    color: var(--cor-branca);
    text-align: center;
    padding: 40px;
}

.container04 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 5px 10%;
}

.container04 ul li {
    background-color: var(--cor-branca);
    padding: 40px;
}

.container04 ul li p {
    color: var(--cor-fonte-text);
    font-size: 1.5em;
}

/* Seção 05 !!!!!!!!!!!!!!!!!!!!! */
.container05 {
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.container05 {
    color: var(--cor-fonte-text);
}

.container05 img{
    padding: 5px 0px;
}
.container05 figcaption{
    padding: 20px 5px;
}
#carrosselImgElement {
    transition: opacity 3.5s ease;
    width: 60%;
    height: auto;
    object-fit: cover;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.seta-direita,
.seta-esquerda {
    height: 100%;
    width: auto;
    padding: 1em 0.7em;
    position: relative;
    background-color: rgba(255, 255, 255, 0.549);
}
.seta-direita {
    right: 2em;
}
.seta-esquerda {
    left: 2em;
}
/* Seção 06 !!!!!!!!!!!!!!!!!!!!!!! */
.container06 {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 60px;
}

.colorful-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--cor-back-secundario);
    border-radius: 10px;
}

.colorful-form h1 {
    color: var(--cor-fonte-title);
    padding: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--cor-fonte-title);
}

.form-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--cor-branca);
    color: var(--cor-fonte-text);
    border-radius: 5px;
}

textarea.form-input {
    height: 100px;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: var(--cor-branca);
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
}

/* Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

footer {
    background-color: black;
    padding: 20px;
    color: var(--cor-branca);
}

.footer-section img {
    width: 220px;
    height: 170px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    color: var(--cor-fonte-text);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: var(--cor-fonte-text);
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: var(--cor-fonte-text);
}

/* Botão de dark mode */

#darkModeBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px 20px;
    background-color: #000;
    color: var(--cor-branca);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#inputPhone{
    width: 10em;
}

/* Destaques do formulário */
.errorMessage{
    color: red;
    font-size: 0.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.obrigatorio{
    color: red;
    font-size: 0.9em;
}
/* carrosel de imagens */
#carroselImgElement{
    transition: opacity 3.5s ease;
    width: 28em;
    height: auto;
    object-fit: cover;
}
.carrosel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Setas do carrosel */
.seta-direita,
.seta-esquerda{
    height: 100%;
    width: auto;
    padding: 13.4em 0.7em;
    position: relative;
    background-color: rgba(255, 255, 255, 0.549);
}

.seta-direita {
    right: 2em;
}

.seta-esquerda {
    left: 2em;
}

#divUsuario {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
#divUsuario > a {
/*Centralizar a ancora na coluna*/
    margin-top: auto;
    margin-bottom: auto;
    
}
#divUsuario > img {
    width: auto;
    margin-top: 10%;
    height: 50%;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #000;
}

/* DARK MODE*/
.dark-mode .layout{
    background: black;
}
.dark-mode .container01{
    background-color: black;
}
.dark-mode .container01 p{
    color: white;
}
.dark-mode .container02{
    background-color: #005327;
}
.dark-mode .container03{
    background-color: black;
}
.dark-mode .container03 p{
    color: white;
}
.dark-mode .container04{
    background-color: #005327;
}
.dark-mode .container04 li{
    background-color: black;
}
.dark-mode .container04 li p{
    color: white;
}
.dark-mode .container05 {
    background-color: black;
}
.dark-mode .container05 figcaption{
    color: white;
}
.dark-mode .container06 {
    background-color: #005327;
}
.dark-mode .container06 form{
    background-color: black;
}
.dark-mode .container06 form h1{
    color: white;
}
.dark-mode .container06 form label{
    color: white;
}
.dark-mode #darkModeBtn{
    background-color: white;
    color: black;
}

/*-------Responsividade ------------- */

@media (max-width: 1000px) {
    .container01 div ul{
        flex-direction: column;
    }
    .container02 div{
        flex-direction: column;
    }
    .container02 div video {
        width: 60%;
        height: 40%;
    }
    .container05 img{
        padding: 5px 0px;
    }
    .container05 figcaption{
        padding: 20px 5px;
    }
    #carrosselImgElement {
        transition: opacity 3.5s ease;
        width: 60%;
        height: auto;
        object-fit: cover;
    }
    
    .carrossel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .seta-direita,
    .seta-esquerda {
        height: 100%;
        width: auto;
        padding: 1em 0.7em;
        position: relative;
        background-color: rgba(255, 255, 255, 0.549);
    }
    
    .seta-direita {
        right: 2em;
    }
    
    .seta-esquerda {
        left: 2em;
    }
}
@media (max-width: 600px) {
    #nav {
        display: flex;
    }
    .nav_rigth_icones {
        display: none;
    }
    .layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background: white;
        z-index: 1000;
        visibility: hidden;
    }
    #nav.active .layout {
        visibility: visible;
        overflow-y: auto;
        top: 90px;
        border-radius: 5%;
        width: 100%;
        padding: 20px;
        left: 0px;
    }
    .layout>a {
        padding: 1rem 0;
        margin: 0 1rem;
        color: var(--cor-fonte-text);
    }
    /* Buttom mobile ativado */
    #btn-mobile {
        display: flex;
        justify-content: center;
        padding: 1rem 1rem;
        font-size: 20px;
        border: none;
        cursor: pointer;
        gap: 0.5rem;
        color: white;
        background-color: #00000000;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 6px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -8px;
    }
    .titulo_menu{
        display: flex;
    }
    .titulo_menu h1{
        font-size: 3.5em;
        line-height: 70px;
        letter-spacing: 0px;
        margin: 20px 0px;
    }
    .container01{
        padding: 20px 0px;
    }
    .container01 h1{
        font-size: 2.5em;
    }
    .container01 p{
        padding: 20px 0px;
        margin: 0px 40px;
        text-align: start;
    }
    .container01 h1{
        font-size: 30px;
    }
    .container01 div h3{
        font-size: 2rem;
    }
    .container01 div ul{
        flex-direction: column;
    }
    .container01 div p{
        font-size: 1.4em;
        margin: 5px 0px;
        text-align: center;
    }
    .container01 div i{
        font-size: 4em;
    }
    .container02{
        padding: 30px 10px;
    }
    .container02 div{
        flex-direction: column;
    }
    .container02 div p{
        margin: 50px 10px;
    }
    .container02 div video{
        width: 100%;
    }
    .container03 h1{
        font-size: 2em;
        padding: 20px;
    }
    .container03 img{
        width: 100%;
    }
    .container03 p{
        font-size: 1em;
        margin: 10px 10px;
        padding: 0px;
    }
    .container04{
        padding: 25px 0px;
    }
    .container04 ul li{
        padding: 30px;
        text-align: start;
    }
    .container04 ul li p{
        font-size: 1.3em;
        padding: 0px;
    }
    .container05 img{
        padding: 5px 0px;
    }
    .container05 figcaption{
        padding: 20px 5px;
    }
    #carrosselImgElement {
        transition: opacity 3.5s ease;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .carrossel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .seta-direita,
    .seta-esquerda {
        height: 100%;
        width: auto;
        padding: 1em 0.7em;
        position: relative;
        background-color: rgba(255, 255, 255, 0.549);
    }
    
    .seta-direita {
        right: 2em;
    }
    
    .seta-esquerda {
        left: 2em;
    }
    .container06{
        padding: 30px 10px;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
    }
}